.form {
  background: none;
  border-radius: 20px;
  min-height: 350px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-container {
  height: 50px;
  position: relative;
  width: 60%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background: none;
  border: 0;
  color: #000000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  width: 100%;
  padding: 4px 20px 0;
  border-bottom: 1px solid #000000;
  position: relative;
}
.polos::after {
  content: "";
  bottom: -5px;
  right: -48px;
  position: absolute;
  width: 15px;
  border-bottom: 0.5px solid #000000;
  transform: rotate(-45deg);
}
.polos::before {
  content: "";
  bottom: -5px;
  left: -7px;
  position: absolute;
  width: 15px;
  border-bottom: 0.5px solid #000000;
  transform: rotate(-45deg);
}

.cut {
  display: none;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-transform: uppercase;
  color: #b3b3b3;
  left: 20px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #000000;
}

.input:focus ~ .placeholder {
  color: #000000;
}
.icon {
  fill: #ffffff7e;
  aspect-ratio: 1 / 1;
  transition: all 0.2s linear;
  padding-bottom: 15px;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

