#card {
  display: block;
  height: 503px;
  width: 320px;
  background:bisque;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: 100%;
  background-repeat: no-repeat;
  @media (min-width: 1024px) and (max-width: 1679px){
    height: 470px;
    width: 300px;
  }
  @media (min-width: 1680px) and (max-width: 1800px){
    height: 550px;
    width: 350px;
  }
}

#card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  .card__content{
    opacity: 1;
    height: 94%;
    visibility: visible;
    @media (min-width: 1024px) and (max-width: 1720px){
      height: 93.7%;;
    }
    @media (min-width: 1680px) and (max-width: 1800px){
      height: 94.6%;
    }
  }
  .card__title{
    opacity: 1;
  }
  .card__title2{
    opacity: 1;
  }
  .card__text{
    opacity: 1;
  }
}
.card__content{
  width: 290px;
  height: 0%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
  );
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  visibility: hidden;
  padding: 15px 15px 15px 15px;
  @media (min-width: 1024px) and (max-width: 1679px){
    width: 270px;
  }
  @media (min-width: 1680px) and (max-width: 1800px){
    width: 320px;
  }
}