.designstages {
    &_container {
      padding: 20px 20px 50px 20px;
      @media (min-width: 426.98px) and (max-width: 768.98px) {
        padding: 50px 40px 50px 40px;
      }
      margin: 0 0;
      position: relative;
      z-index: 1;
      display: flex;
      gap: 50px;
      flex-direction: column;
      gap: 40px;
      background: #f5f5f5;
      &__titleBox {
        padding-left: 0px;
      }
      &_box {
        &__selector {
          padding-left: 0px;
          position: relative;
        }
      }
    }
  }
  